.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
}

.row.reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col.reverse {
    flex-direction: column-reverse;
}

.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;

    &.col-padding-small {
        padding-left: .25rem;
        padding-right: .25rem;

        &-left {
            padding-left: .25rem;
            padding-right: .5rem;
        }

        &-right {
            padding-left: .5rem;
            padding-right: .25rem;
        }

    }

}

.col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-sm-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
}

.col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-sm-offset-0 {
    margin-left: 0;
}

.col-sm-offset-1 {
    margin-left: 8.333%;
}

.col-sm-offset-2 {
    margin-left: 16.666%;
}

.col-sm-offset-3 {
    margin-left: 25%;
}

.col-sm-offset-4 {
    margin-left: 33.333%;
}

.col-sm-offset-5 {
    margin-left: 41.667%;
}

.col-sm-offset-6 {
    margin-left: 50%;
}

.col-sm-offset-7 {
    margin-left: 58.333%;
}

.col-sm-offset-8 {
    margin-left: 66.667%;
}

.col-sm-offset-9 {
    margin-left: 75%;
}

.col-sm-offset-10 {
    margin-left: 83.333%;
}

.col-sm-offset-11 {
    margin-left: 91.667%;
}

.start-sm {
    justify-content: flex-start;
    text-align: start;
}

.center-sm {
    justify-content: center;
    text-align: center;
}

.end-sm {
    justify-content: flex-end;
    text-align: end;
}

.top-sm {
    align-items: flex-start;
}

.middle-sm {
    align-items: center;
}

.bottom-sm {
    align-items: flex-end;
}

.around-sm {
    justify-content: space-around;
}

.between-sm {
    justify-content: space-between;
}

.first-sm {
    order: -1;
}

.last-sm {
    order: 1;
}

@include breakpoint-lg {
    .container {
        width: $lg-width;
        max-width: $lg-width;
    }
}

    @include breakpoint-lg {
    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-offset-0,
    .col-lg-offset-1,
    .col-lg-offset-2,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12 {
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-lg-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-lg-2 {
        flex-basis: 16.666%;
        max-width: 16.666%;
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-lg-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-lg-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-lg-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }

    .col-lg-offset-1 {
        margin-left: 8.333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.666%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.667%;
    }

    .start-lg {
        justify-content: flex-start;
        text-align: start;
    }

    .center-lg {
        justify-content: center;
        text-align: center;
    }

    .end-lg {
        justify-content: flex-end;
        text-align: end;
    }

    .top-lg {
        align-items: flex-start;
    }

    .middle-lg {
        align-items: center;
    }

    .bottom-lg {
        align-items: flex-end;
    }

    .around-lg {
        justify-content: space-around;
    }

    .between-lg {
        justify-content: space-between;
    }

    .first-lg {
        order: -1;
    }

    .last-lg {
        order: 1;
    }

}
