@mixin box {
    margin: 1rem 0;
    padding: 0;
    border: .5rem solid $gnbWhite;
    box-shadow: $box-shadow;
    background-color: $gnbWhite;
}

@mixin breakpoint-sm {
    @media (max-width: #{$sm-width}) {
        @content;
    }
}

@mixin breakpoint-lg {
    @media (min-width: #{$lg-width}) {
        @content;
    }
}

@mixin breakpoint-md {
    @media (min-width: #{$md-width}) and (max-width: #{$lg-width}-1) {
        @content;
    }
}

@mixin breakpoint-sm-md {
    @media (max-width: #{$lg-width}-1) {
        @content;
    }
}
