/* PROJECT-COLORS */
$gnbBlue: #39395D;
$gnbLighterBlue: lighten($gnbBlue, 40%);
$gnbLightBlue: lighten($gnbBlue, 15%);
$gnbDarkBlue: darken($gnbBlue, 6%);
$gnbDarkerBlue: darken($gnbBlue, 20%);

$gnbGrey: #eee;
$gnbLightGrey: lighten($gnbGrey, 3%);
$gnbLighterGrey: lighten($gnbGrey, 5%);
$gnbDarkGrey: darken($gnbGrey, 12%);
$gnbDarkerGrey: darken($gnbGrey, 40%);
$gnbDarkestGrey: darken($gnbGrey, 50%);

$gnbOrange: #ae622e;

$gnbWhite: #fefefe;
$gnbBlack: #333;




/* BREAKPOINTS */
$lg-width: 900px;
$md-width: 650px;
$sm-width: 649px;


/* COMMON CSS-STUFF */
$base-size: 16px;
$base-font-size: 16px;
$font-family: "Vollkorn", sans-serif;
$line-height: 1;
$box-shadow: 0 0 .25rem rgba($gnbBlack, .25);
$smrGradient: linear-gradient(to bottom, $gnbWhite 30%, $gnbBlue 100%) repeat scroll top;
$border-radius: .25rem;
$transition: all 200ms ease-in;