.heading {
    font-weight: 600;
    font-size: 40px;
    box-shadow: 0 0 0.25rem rgba(51,51,51,.25);
    margin-bottom: 50px;
    padding: 13px 40px;
    border-radius: 8px;
  background: #ae612e;
  background: -moz-linear-gradient(left, #ae612e 0%, #e79b61 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ae612e), color-stop(100%, #e79b61));
  background: -webkit-linear-gradient(left, #ae612e 0%, #e79b61 100%);
  background: -o-linear-gradient(left, #ae612e 0%, #e79b61 100%);
  background: -ms-linear-gradient(left, #ae612e 0%, #e79b61 100%);
  background: linear-gradient(to right, #ae612e 0%, #e79b61 100%);
    position: relative;
    overflow: hidden;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: white;

  &.seiten {
    background: rgba(160,152,179,1);
    background: -moz-linear-gradient(45deg, rgba(160,152,179,1) 0%, rgba(206,201,216,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(160,152,179,1)), color-stop(100%, rgba(206,201,216,1)));
    background: -webkit-linear-gradient(45deg, rgba(160,152,179,1) 0%, rgba(206,201,216,1) 100%);
    background: -o-linear-gradient(45deg, rgba(160,152,179,1) 0%, rgba(206,201,216,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(160,152,179,1) 0%, rgba(206,201,216,1) 100%);
    background: linear-gradient(45deg, rgba(160,152,179,1) 0%, rgba(206,201,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a098b3', endColorstr='#cec9d8', GradientType=1 );
  }

    @include breakpoint-sm {
      padding: 10px 20px;
      font-size: 24px;
      margin-bottom: 35px;
    }

    img {
      max-width: 89px;
      margin-right: 50px;
      filter: drop-shadow(1px 1px 2px #333);

      @include breakpoint-sm {
          max-width: 50px;
          margin-right: 25px;
      }
    }
  }