.link-box {
  font-weight: 600;
  font-size: 30px;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 13px 40px;
  border-radius: 8px;
  background: #ededed; /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 33%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 33%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%,#ffffff 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  overflow: hidden;

  @include breakpoint-sm {
    padding: 10px 20px;
    font-size: 18px;
  }

  a {
    color: $gnbOrange;
    display: flex;
    align-items: center;

    img {
      max-width: 89px;
      margin-right: 50px;
      -webkit-filter: drop-shadow(2px 2px 2px $gnbBlack);
      filter: drop-shadow(2px 2px 2px $gnbBlack);

      @include breakpoint-sm {
        max-width: 50px;
        margin-right: 25px;
      }
    }

    .inner-box {
      position: absolute;
      right: 0;
      height: 100%;
      background: $gnbOrange;
      background: -moz-linear-gradient(-45deg, #e79b61 0%, $gnbOrange 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #e79b61 0%,$gnbOrange 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #e79b61 0%, $gnbOrange 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 30px;

      @include breakpoint-sm {
        width: 15px;
      }
    }
  }
}