.termin-box {
  font-weight: 600;
  font-size: 18px;
  box-shadow: $box-shadow;
  height: 130px;
  @include breakpoint-sm {
    height: 76px;
  }
  margin-bottom: 30px;
  padding: 0;
  border-radius: 8px;
  background: #ededed; /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ffffff 33%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 33%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%,#ffffff 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  overflow: hidden;

  a {
    color: #333333;
    display: flex;
    align-items: center;

    img {
      width: 130px;
      margin-right: 50px;
      -webkit-filter: drop-shadow(2px 2px 2px $gnbBlack);
      filter: drop-shadow(2px 2px 2px $gnbBlack);

      @include breakpoint-md {
        margin-right: 25px;
      }
    }

    .autor-content {
      padding: 16px 36px;
      height: 130px;

      @include breakpoint-sm {
        height: 76px;
        padding: 2px 5px;
      }
    }

    .inner-box {
      position: absolute;
      right: 0;
      background: $gnbOrange;
      background: -moz-linear-gradient(-45deg, #e79b61 0%, $gnbOrange 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #e79b61 0%,$gnbOrange 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #e79b61 0%, $gnbOrange 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 50px;
      height: 220px;

      @include breakpoint-sm {
        width: 21px;
      }
    }

    .row {
      width: 100%;

      @include breakpoint-sm {
        margin-left: 0!important;
      }

      .date {
        font-weight: 700;
        font-size: 26px;
        color: #555555;
        @include breakpoint-sm {
          font-size: 18px;
          padding-top: 4px;
          padding-left: 0;
        }
      }

      .name {
        font-weight: 700;
        font-size: 26px;
        @include breakpoint-sm {
          padding: 0;
          margin-top: 0;
          line-height: 21px;
          font-size: 18px;
        }
      }

      .text {
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: flex-end;

        @include breakpoint-sm {
          padding: 0;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-bottom: 2px;
          display: block;
          margin-bottom: -2px;
        }
      }

      .autor-picture {
        position: relative;
        padding-left: 0;
        img {
          filter: none;
          display: block;
          @include breakpoint-sm {
            max-width: 70px;
          }

          &.book {
            @include breakpoint-lg {
              width: 75px;
            }
            @include breakpoint-md {
              width: 60px;
            }
            width: 40px;
            filter: grayscale(100%);
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  &.incative {
    a {
      .row {
        .name {
          font-weight: 400;
          color: #666666;
        }
      }
      img {
        filter: grayscale(100%);
      }
      .inner-box {
        background: #dadada;
        background: -moz-linear-gradient(left, #dadada 0%, #c6c6c6 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #dadada), color-stop(100%, #c6c6c6));
        background: -webkit-linear-gradient(left, #dadada 0%, #c6c6c6 100%);
        background: -o-linear-gradient(left, #dadada 0%, #c6c6c6 100%);
        background: -ms-linear-gradient(left, #dadada 0%, #c6c6c6 100%);
        background: linear-gradient(to right, #dadada 0%, #c6c6c6 100%);
      }
    }
  }
}