/* PROJECT-COLORS */
/* BREAKPOINTS */
/* COMMON CSS-STUFF */
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,600i,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.col {
  -ms-flex-direction: column;
      flex-direction: column;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.col-sm.col-padding-small,
.col-sm-1.col-padding-small,
.col-sm-2.col-padding-small,
.col-sm-3.col-padding-small,
.col-sm-4.col-padding-small,
.col-sm-5.col-padding-small,
.col-sm-6.col-padding-small,
.col-sm-7.col-padding-small,
.col-sm-8.col-padding-small,
.col-sm-9.col-padding-small,
.col-sm-10.col-padding-small,
.col-sm-11.col-padding-small,
.col-sm-12.col-padding-small,
.col-sm-offset-0.col-padding-small,
.col-sm-offset-1.col-padding-small,
.col-sm-offset-2.col-padding-small,
.col-sm-offset-3.col-padding-small,
.col-sm-offset-4.col-padding-small,
.col-sm-offset-5.col-padding-small,
.col-sm-offset-6.col-padding-small,
.col-sm-offset-7.col-padding-small,
.col-sm-offset-8.col-padding-small,
.col-sm-offset-9.col-padding-small,
.col-sm-offset-10.col-padding-small,
.col-sm-offset-11.col-padding-small,
.col-sm-offset-12.col-padding-small {
  padding-left: .25rem;
  padding-right: .25rem;
}

.col-sm.col-padding-small-left,
.col-sm-1.col-padding-small-left,
.col-sm-2.col-padding-small-left,
.col-sm-3.col-padding-small-left,
.col-sm-4.col-padding-small-left,
.col-sm-5.col-padding-small-left,
.col-sm-6.col-padding-small-left,
.col-sm-7.col-padding-small-left,
.col-sm-8.col-padding-small-left,
.col-sm-9.col-padding-small-left,
.col-sm-10.col-padding-small-left,
.col-sm-11.col-padding-small-left,
.col-sm-12.col-padding-small-left,
.col-sm-offset-0.col-padding-small-left,
.col-sm-offset-1.col-padding-small-left,
.col-sm-offset-2.col-padding-small-left,
.col-sm-offset-3.col-padding-small-left,
.col-sm-offset-4.col-padding-small-left,
.col-sm-offset-5.col-padding-small-left,
.col-sm-offset-6.col-padding-small-left,
.col-sm-offset-7.col-padding-small-left,
.col-sm-offset-8.col-padding-small-left,
.col-sm-offset-9.col-padding-small-left,
.col-sm-offset-10.col-padding-small-left,
.col-sm-offset-11.col-padding-small-left,
.col-sm-offset-12.col-padding-small-left {
  padding-left: .25rem;
  padding-right: .5rem;
}

.col-sm.col-padding-small-right,
.col-sm-1.col-padding-small-right,
.col-sm-2.col-padding-small-right,
.col-sm-3.col-padding-small-right,
.col-sm-4.col-padding-small-right,
.col-sm-5.col-padding-small-right,
.col-sm-6.col-padding-small-right,
.col-sm-7.col-padding-small-right,
.col-sm-8.col-padding-small-right,
.col-sm-9.col-padding-small-right,
.col-sm-10.col-padding-small-right,
.col-sm-11.col-padding-small-right,
.col-sm-12.col-padding-small-right,
.col-sm-offset-0.col-padding-small-right,
.col-sm-offset-1.col-padding-small-right,
.col-sm-offset-2.col-padding-small-right,
.col-sm-offset-3.col-padding-small-right,
.col-sm-offset-4.col-padding-small-right,
.col-sm-offset-5.col-padding-small-right,
.col-sm-offset-6.col-padding-small-right,
.col-sm-offset-7.col-padding-small-right,
.col-sm-offset-8.col-padding-small-right,
.col-sm-offset-9.col-padding-small-right,
.col-sm-offset-10.col-padding-small-right,
.col-sm-offset-11.col-padding-small-right,
.col-sm-offset-12.col-padding-small-right {
  padding-left: .5rem;
  padding-right: .25rem;
}

.col-sm {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.col-sm-1 {
  -ms-flex-preferred-size: 8.333%;
      flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-sm-2 {
  -ms-flex-preferred-size: 16.666%;
      flex-basis: 16.666%;
  max-width: 16.666%;
}

.col-sm-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.col-sm-4 {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-sm-5 {
  -ms-flex-preferred-size: 41.667%;
      flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-sm-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.col-sm-7 {
  -ms-flex-preferred-size: 58.333%;
      flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-sm-8 {
  -ms-flex-preferred-size: 66.667%;
      flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-sm-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.col-sm-10 {
  -ms-flex-preferred-size: 83.333%;
      flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-sm-11 {
  -ms-flex-preferred-size: 91.667%;
      flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-sm-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.col-sm-offset-0 {
  margin-left: 0;
}

.col-sm-offset-1 {
  margin-left: 8.333%;
}

.col-sm-offset-2 {
  margin-left: 16.666%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-offset-4 {
  margin-left: 33.333%;
}

.col-sm-offset-5 {
  margin-left: 41.667%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-offset-7 {
  margin-left: 58.333%;
}

.col-sm-offset-8 {
  margin-left: 66.667%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-offset-10 {
  margin-left: 83.333%;
}

.col-sm-offset-11 {
  margin-left: 91.667%;
}

.start-sm {
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: start;
}

.center-sm {
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

.end-sm {
  -ms-flex-pack: end;
      justify-content: flex-end;
  text-align: end;
}

.top-sm {
  -ms-flex-align: start;
      align-items: flex-start;
}

.middle-sm {
  -ms-flex-align: center;
      align-items: center;
}

.bottom-sm {
  -ms-flex-align: end;
      align-items: flex-end;
}

.around-sm {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between-sm {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.first-sm {
  -ms-flex-order: -1;
      order: -1;
}

.last-sm {
  -ms-flex-order: 1;
      order: 1;
}

@media (min-width: 900px) {
  .container {
    width: 900px;
    max-width: 900px;
  }
}

@media (min-width: 900px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .col-lg {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.666%;
        flex-basis: 16.666%;
    max-width: 16.666%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
        justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
        align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
        align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
        order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
        order: 1;
  }
}

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: .75;
  transition: opacity .2s;
  box-shadow: none;
}

.pswp__button:focus,
.pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: .9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../img/photoswipe/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../img/photoswipe/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity .25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: transform .25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*

	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity .25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(../img/photoswipe/preloader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: .75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  /*
              The idea of animating inner circle is based on Polymer ("material") loading indicator
               by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
          */
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*

	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: .001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 99999999999;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 400ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c2d50;
  background: linear-gradient(to bottom, #2c2d50 8%, #ffffff 66%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d50', endColorstr='#ffffff',GradientType=0 );
}

*,
*:after,
*:before {
  min-height: 0;
  min-width: 0;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: #9e9ec4;
  color: #fefefe;
}

figure {
  margin: 0;
}

figure figcaption {
  font-size: 15px;
  color: #333;
  background: #e4eff8;
  padding: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

figure figcaption span {
  display: block;
}

img {
  max-width: 100%;
  position: relative;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 649px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 900px) {
  .hidden-lg {
    display: none;
  }
}

.container {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0 #666;
  background: #fbfbfb;
  background: linear-gradient(135deg, #fbfbfb 1%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=1 );
}

@media (min-width: 900px) {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.container .content {
  padding: 62px 50px;
}

@media (max-width: 649px) {
  .container .content {
    padding: 25px 15px;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .container .content {
    padding: 50px 15px;
  }
}

.container .content div.seiten {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.container .content div.seiten .element-wrap {
  font-size: 18px;
}

.container .content div.seiten .element-wrap h3 {
  color: #666666;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.container .content div .inline-video-wrap {
  position: relative;
  padding-bottom: 56.25%;
}

.container .content div .inline-video-wrap .inline-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .content .row {
  margin: 0;
}

@media (max-width: 649px) {
  .container .content .row.mobile-picture-first {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .container .content .row.mobile-picture-first .picture {
    margin-bottom: 1.5rem;
  }
}

.container .content .row .home_pictures {
  padding: 0;
  margin-bottom: 45px;
  margin-top: -20px;
}

@media (max-width: 899px) {
  .container .content .row .home_pictures {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.container .content .row .home_pictures .col-sm-6 {
  position: relative;
}

.container .content .row .home_pictures .col-sm-6:first-of-type {
  padding-left: 0;
  padding-right: 1rem;
}

@media (min-width: 900px) {
  .container .content .row .home_pictures .col-sm-6:first-of-type .count {
    bottom: 12px;
    right: 18px;
  }
}

.container .content .row .home_pictures .col-sm-6:last-of-type {
  padding-right: 0;
  padding-left: 1rem;
}

.container .content .row .home_pictures .col-sm-6 img {
  border-radius: 8px;
}

.container .content .row .home_pictures .col-sm-6 .count {
  position: absolute;
  background: white;
  color: #ae622e;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 10px 5px;
  bottom: 8px;
  right: 10px;
  z-index: 3;
}

@media (max-width: 899px) {
  .container .content .row .home_pictures .col-sm-6 .count {
    font-size: 14px;
    padding: 5px 10px 3px;
    bottom: 5px;
    right: 7px;
  }
}

.container .content .row .home_pictures .col-sm-6 figure .arrows {
  display: none;
}

.container .content .row .home_pictures .col-sm-6 figure .carousel .carousel-inner img {
  height: 200px;
}

.picture {
  margin-top: 30px;
}

@media (max-width: 649px) {
  .picture {
    margin-top: 0px;
  }
}

.picture img {
  border-radius: 8px;
  cursor: auto;
}

.picture.no-margin-top {
  margin-top: 0;
}

.picture.box img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.picture.box .social-media {
  box-shadow: 0 0 0.25rem rgba(51, 51, 51, 0.25);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -3px;
  padding: 7px 7px 4px 7px;
}

.picture.box .social-media img {
  height: auto;
}

form .row {
  margin-top: 25px;
}

form .row .col-sm-12 {
  padding: 0;
}

form .row .col-sm-12 input, form .row .col-sm-12 textarea {
  width: 100%;
  padding: 9px;
  font-size: 18px;
  font-family: Vollkorn,sans-serif;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #c6c6c6;
}

form .row .col-sm-12 button {
  float: right;
  font-size: 18px;
  border-radius: 8px;
  padding: 6px 48px;
  font-weight: 700;
  color: white;
  background: linear-gradient(to bottom, #a5a5b5 0, #39395d 100%);
}

@media (max-width: 899px) {
  .content .row .home_pictures .col-sm-6 .gallery-wrap {
    padding-bottom: 62%;
    border-radius: 8px;
  }
  .content .row .home_pictures .col-sm-6 .gallery-wrap figure {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  .content .row .home_pictures .col-sm-6 .gallery-wrap figure .carousel .carousel-inner img {
    height: 30vw;
  }
  .content .row .home_pictures .col-sm-6 .gallery-wrap figure img {
    height: 28vw;
    object-fit: cover;
  }
}

@media (max-width: 899px) {
  .gallery .gallery-wrap {
    padding-bottom: 75%;
  }
  .gallery .gallery-wrap figure {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  .gallery .gallery-wrap figure img {
    height: 75vw;
  }
}

.gallery-wrap {
  margin-bottom: 1rem;
  position: relative;
}

.gallery-wrap figure {
  margin: 0;
  position: relative;
}

.gallery-wrap figure .arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: #fefefe;
  text-shadow: 0 0 0.25rem rgba(51, 51, 51, 0.75);
}

.gallery-wrap figure .arrows .arrow-left {
  -ms-flex-item-align: center;
      align-self: center;
}

.gallery-wrap figure .arrows .arrow-left i {
  position: relative;
  z-index: 5;
}

.gallery-wrap figure .arrows .arrow-right {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: right;
}

.gallery-wrap figure .arrows .arrow-right i {
  position: relative;
  z-index: 5;
}

.gallery-wrap figure .carousel {
  background: #eee;
  z-index: 2;
}

@media (min-width: 900px) {
  .gallery-wrap figure .carousel {
    max-height: 500px;
    overflow: hidden;
  }
}

.gallery-wrap figure .carousel .carousel-inner {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
}

.gallery-wrap figure .carousel .carousel-inner:first-of-type {
  display: -ms-flexbox;
  display: flex;
}

.gallery-wrap figure .carousel .carousel-inner img {
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 900px) {
  .gallery-wrap figure .carousel .carousel-inner img {
    display: inline;
    width: 100%;
    height: 500px;
  }
}

.gallery-wrap figure .count {
  position: absolute;
  background: white;
  color: #ae622e;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 10px 5px;
  bottom: 8px;
  right: 10px;
  z-index: 3;
}

.gallery-wrap figure .icon {
  position: absolute;
  bottom: .5rem;
  left: .25rem;
  z-index: 2;
  color: #fefefe;
  line-height: 1;
  font-size: 19px;
  text-shadow: 0 0 0.1rem #333;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.gallery-wrap figure:hover {
  cursor: pointer;
}

.gallery-wrap figure:hover .icon {
  font-size: 1.5rem;
  transition: all 200ms ease-in;
}

.back-to-top {
  display: none;
  font-weight: 400;
  background: rgba(57, 57, 93, 0.7);
  color: white;
  position: fixed;
  right: 45%;
  line-height: 30px;
  bottom: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
  font-size: 12px;
  height: 30px !important;
  width: auto !important;
  z-index: 10 !important;
  border: 0 !important;
  border-radius: 8px 8px 0 0 !important;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box !important;
  padding: 0 10px !important;
  transition: all .4s,bottom .8s ease-in-out !important;
  cursor: pointer !important;
  outline: none !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: transparent !important;
  animation-name: loadBubble;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
}

@media (max-width: 649px) {
  .back-to-top {
    left: 0;
    right: inherit;
  }
}

.back-to-top:hover {
  color: white;
}

.back-to-top:active {
  color: white;
}

.back-to-top i {
  margin-right: 3px;
}

.show_more {
  display: inline-block;
  position: relative;
  width: 100%;
}

.show_more .btn-clear-blue {
  text-shadow: none;
  padding: 0 .5rem;
  border: none;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 8px;
  float: right;
  background: #39395D;
  color: white;
  position: absolute;
  right: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Vollkorn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
}

a,
a:visited,
a:focus {
  color: #005a9a;
  text-decoration: none;
}

a.link-black,
a:visited.link-black,
a:focus.link-black {
  color: #333;
}

a:hover,
a:active {
  color: #2d2d4a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem 0;
}

h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
}

h1.title {
  margin-bottom: 0;
  padding: 1.5rem .5rem 0 .5rem;
  font-size: 26px;
  font-weight: 400;
  color: #fefefe;
  text-transform: uppercase;
  background: #39395D;
}

@media (max-width: 649px) {
  h1.title {
    margin: -.5rem -.5rem 1rem -.5rem;
    padding: 1.5rem 1rem 0 1rem;
    font-size: 19px;
  }
}

h1.auswaertstitle {
  margin-bottom: 0;
  padding: 1rem .5rem 1.1rem .5rem;
  font-size: 26px;
  font-weight: 400;
  color: #fefefe;
  text-transform: uppercase;
  background: #39395D;
}

@media (max-width: 649px) {
  h1.auswaertstitle {
    margin: -.5rem -.5rem 1rem -.5rem;
    padding: 1rem 1rem 1.1rem 1rem;
    font-size: 19px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h2.subtitle, h2.subtitle-small, h2.subtitle-big, h2.subtitle-smaller {
  font-size: 19px;
  font-weight: 400;
  color: #39395D;
  text-transform: uppercase;
}

h2.subtitle-small {
  font-size: 1.2rem;
}

h3 {
  font-size: 19px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-weight: 400;
}

h5 {
  font-size: 15px;
  font-weight: 400;
}

h6 {
  font-size: 13px;
  font-weight: 400;
}

.subtitle, .subtitle-big, .subtitle-small, .subtitle-smaller {
  display: block;
  font-size: 19px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #666666;
}

@media (max-width: 649px) {
  .subtitle, .subtitle-big, .subtitle-small, .subtitle-smaller {
    margin-top: 23px;
  }
}

.subtitle-big {
  font-size: 23px;
  line-height: 1.2;
}

@media (max-width: 649px) {
  .subtitle-big {
    margin-top: 1rem;
  }
}

.subtitle-small {
  font-size: 18px;
}

.subtitle-smaller {
  font-size: 12px;
  margin-top: 1rem;
}

.small,
small {
  font-size: 13px;
}

p, td {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.nowrap {
  white-space: nowrap;
}

address {
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 900px) {
  .text.col-lg-8 {
    padding-right: 30px;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

ul,
ol {
  padding-left: 1.25rem;
}

ul li,
ol li {
  margin-bottom: .25rem;
  line-height: 1.5rem;
}

ul li p:last-child,
ol li p:last-child {
  margin: 0;
}

ul.no-bullets,
ol.no-bullets {
  list-style: none;
  padding-left: 0;
}

ul.arrows, ul.checkmarks,
ol.arrows,
ol.checkmarks {
  list-style: none;
  margin-bottom: .5rem;
  padding-left: 0;
}

ul.arrows li:before, ul.checkmarks li:before,
ol.arrows li:before,
ol.checkmarks li:before {
  padding-left: .5rem;
  padding-right: .625rem;
  font-family: 'FontAwesome';
  font-size: 13px;
  color: #12121e;
}

ul.arrows li:before,
ol.arrows li:before {
  content: "\f061";
}

ul.checkmarks li:before,
ol.checkmarks li:before {
  content: "\f00c";
}

header .row {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: -4px;
}

header .row .navi-link {
  font-family: 'PT Sans', sans-serif;
  padding: 10px 8px 12px;
  background: #fffefe;
  background: linear-gradient(to bottom, #a5a5b5 0%, #39395d 100%);
  color: white;
  font-size: 14px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 6px;
}

header .row .navi-link:last-of-type {
  margin-right: 0;
}

footer {
  margin-top: 40px;
}

footer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

footer .row div.items {
  max-width: 120px;
}

@media (max-width: 649px) {
  footer .row div.items {
    max-width: 60% !important;
    width: 60%;
    padding: 14px 2px;
  }
}

footer .row .items {
  max-height: 110px;
  padding: 12px;
  background: #ededed;
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
  border-radius: 8px;
}

@media (max-width: 649px) {
  footer .row .items {
    width: 50%;
    margin-bottom: 30px;
    max-width: 200px;
  }
  footer .row .items:first-of-type {
    max-width: 155px;
  }
}

footer .row .items.social {
  width: 68px;
}

@media (max-width: 649px) {
  footer .row .items.social {
    max-width: 38% !important;
    width: 38%;
    padding: 0 25px;
    height: 40px;
  }
}

footer .row .items.social img {
  max-width: 44px;
}

@media (max-width: 649px) {
  footer .row .items.social img {
    max-width: 35px;
  }
}

footer .row .items img {
  max-width: 180px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 649px) {
  footer .row .items img {
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

footer .row .items .footer-links {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

footer .row .items .footer-links .row {
  height: 100%;
}

footer .row .items .footer-links .row .col-sm {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 649px) {
  footer .row .items .footer-links .row .col-sm {
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0;
  }
  footer .row .items .footer-links .row .col-sm a {
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  footer .row .items .footer-links .row .col-sm {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  footer .row .items .footer-links .row .col-sm {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.termin-box {
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 0 0.25rem rgba(51, 51, 51, 0.25);
  height: 130px;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 8px;
  background: #ededed;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 33%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  overflow: hidden;
}

@media (max-width: 649px) {
  .termin-box {
    height: 76px;
  }
}

.termin-box a {
  color: #333333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.termin-box a img {
  width: 130px;
  margin-right: 50px;
  filter: drop-shadow(2px 2px 2px #333);
}

@media (min-width: 650px) and (max-width: 899px) {
  .termin-box a img {
    margin-right: 25px;
  }
}

.termin-box a .autor-content {
  padding: 16px 36px;
  height: 130px;
}

@media (max-width: 649px) {
  .termin-box a .autor-content {
    height: 76px;
    padding: 2px 5px;
  }
}

.termin-box a .inner-box {
  position: absolute;
  right: 0;
  background: #ae622e;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e79b61 0%, #ae622e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 50px;
  height: 220px;
}

@media (max-width: 649px) {
  .termin-box a .inner-box {
    width: 21px;
  }
}

.termin-box a .row {
  width: 100%;
}

@media (max-width: 649px) {
  .termin-box a .row {
    margin-left: 0 !important;
  }
}

.termin-box a .row .date {
  font-weight: 700;
  font-size: 26px;
  color: #555555;
}

@media (max-width: 649px) {
  .termin-box a .row .date {
    font-size: 18px;
    padding-top: 4px;
    padding-left: 0;
  }
}

.termin-box a .row .name {
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 649px) {
  .termin-box a .row .name {
    padding: 0;
    margin-top: 0;
    line-height: 21px;
    font-size: 18px;
  }
}

.termin-box a .row .text {
  font-size: 18px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}

@media (max-width: 649px) {
  .termin-box a .row .text {
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 2px;
    display: block;
    margin-bottom: -2px;
  }
}

.termin-box a .row .autor-picture {
  position: relative;
  padding-left: 0;
}

.termin-box a .row .autor-picture img {
  filter: none;
  display: block;
}

@media (max-width: 649px) {
  .termin-box a .row .autor-picture img {
    max-width: 70px;
  }
}

.termin-box a .row .autor-picture img.book {
  width: 40px;
  filter: grayscale(100%);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 900px) {
  .termin-box a .row .autor-picture img.book {
    width: 75px;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .termin-box a .row .autor-picture img.book {
    width: 60px;
  }
}

.termin-box.incative a .row .name {
  font-weight: 400;
  color: #666666;
}

.termin-box.incative a img {
  filter: grayscale(100%);
}

.termin-box.incative a .inner-box {
  background: #dadada;
  background: -webkit-gradient(left top, right top, color-stop(0%, #dadada), color-stop(100%, #c6c6c6));
  background: linear-gradient(to right, #dadada 0%, #c6c6c6 100%);
}

.link-box {
  font-weight: 600;
  font-size: 30px;
  box-shadow: 0 0 0.25rem rgba(51, 51, 51, 0.25);
  margin-bottom: 20px;
  padding: 13px 40px;
  border-radius: 8px;
  background: #ededed;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #ffffff 33%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  overflow: hidden;
}

@media (max-width: 649px) {
  .link-box {
    padding: 10px 20px;
    font-size: 18px;
  }
}

.link-box a {
  color: #ae622e;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.link-box a img {
  max-width: 89px;
  margin-right: 50px;
  filter: drop-shadow(2px 2px 2px #333);
}

@media (max-width: 649px) {
  .link-box a img {
    max-width: 50px;
    margin-right: 25px;
  }
}

.link-box a .inner-box {
  position: absolute;
  right: 0;
  height: 100%;
  background: #ae622e;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e79b61 0%, #ae622e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 30px;
}

@media (max-width: 649px) {
  .link-box a .inner-box {
    width: 15px;
  }
}

.heading {
  font-weight: 600;
  font-size: 40px;
  box-shadow: 0 0 0.25rem rgba(51, 51, 51, 0.25);
  margin-bottom: 50px;
  padding: 13px 40px;
  border-radius: 8px;
  background: #ae612e;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ae612e), color-stop(100%, #e79b61));
  background: linear-gradient(to right, #ae612e 0%, #e79b61 100%);
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.heading.seiten {
  background: #a098b3;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #a098b3), color-stop(100%, #cec9d8));
  background: linear-gradient(45deg, #a098b3 0%, #cec9d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a098b3', endColorstr='#cec9d8', GradientType=1 );
}

@media (max-width: 649px) {
  .heading {
    padding: 10px 20px;
    font-size: 24px;
    margin-bottom: 35px;
  }
}

.heading img {
  max-width: 89px;
  margin-right: 50px;
  filter: drop-shadow(1px 1px 2px #333);
}

@media (max-width: 649px) {
  .heading img {
    max-width: 50px;
    margin-right: 25px;
  }
}

.burger .btn {
  background: #d3d3db;
  margin-right: 15px;
  margin-top: 12px;
  font-size: 28px;
  border-radius: 8px;
  padding: 2px 8px;
  color: #39395D;
}

.burger .btn.has-menu .fa-bars:before {
  content: "\f00d";
}

.mobile-menu-wrap {
  display: none;
  position: fixed;
  height: calc(100% - 45px);
  width: 85%;
  padding: .5rem;
  margin-left: 15%;
  background: #39395D;
  color: white;
  box-shadow: -0.25rem 0 0.5rem -0.25rem rgba(0, 0, 0, 0.75);
  overflow: auto;
  z-index: 1400;
  margin-top: 145px;
}

@media (min-width: 555px) {
  .mobile-menu-wrap {
    width: 65%;
    margin-left: 35%;
    margin-top: 70px;
  }
}

@media (min-width: 700px) {
  .mobile-menu-wrap {
    width: 50%;
    margin-left: 50%;
    margin-top: 20px;
  }
}

.mobile-menu-wrap ul {
  display: none;
  margin: 0 0 0 1rem;
  padding: 0;
  list-style: none;
  text-transform: none;
}

.mobile-menu-wrap ul.mobile-menu {
  display: block;
  margin: 0;
  padding-bottom: .5rem;
}

.mobile-menu-wrap ul li {
  margin: 8px 0;
  padding: 0;
  line-height: 1;
}

.mobile-menu-wrap ul li a {
  font-family: 'PT Sans', sans-serif;
  display: block;
  margin: 0;
  padding: .35rem .75rem;
  font-size: 20px;
  color: white;
  border-radius: 0.25rem;
}

.mobile-menu-wrap ul li a:hover {
  background: #39395D;
}

.mobile-menu-wrap ul li a.active {
  background: #39395D;
}

@media (min-width: 900px) {
  .mobile-menu-wrap ul li a {
    color: #39395D;
  }
}

.mobile-menu-wrap ul li .arrow-wrap {
  min-width: 3.4rem;
}

.mobile-menu-wrap ul li .arrow-wrap .arrow {
  display: inline-block;
  font-weight: 400;
  line-height: 1.4;
}

.mobile-menu-wrap ul li .arrow-wrap .arrow:after {
  font-family: 'FontAwesome';
  content: "\f078";
}

.mobile-menu-wrap ul li .arrow-wrap .arrow.open:after {
  font-family: 'FontAwesome';
  content: '\f077';
}

.mobile-menu-wrap ul li:empty {
  height: 1rem;
}
