.burger {
    .btn {
        background: #d3d3db;
        margin-right: 15px;
        margin-top: 12px;
        font-size: 28px;
        border-radius: 8px;
        padding: 2px 8px;
        color: $gnbBlue;

        &.has-menu {
            .fa-bars {
                &:before {
                    content: "\f00d";
                }
            }
        }
    }
}


.mobile-menu-wrap {
    display: none;
    position: fixed;
    height: calc(100% - 45px);
    width: 85%;
    padding: .5rem;
    margin-left: 15%;
    background: $gnbBlue;
    color: white;
    box-shadow: -.25rem 0 .5rem -.25rem rgba(black, .75);
    overflow: auto;
    z-index: 1400;
    margin-top: 145px;

    @media (min-width: 555px) {
        width: 65%;
        margin-left: 35%;
        margin-top: 70px;
    }

    @media (min-width: 700px) {
        width: 50%;
        margin-left: 50%;
        margin-top: 20px;
    }

    ul {
        display: none;
        margin: 0 0 0 1rem;
        padding: 0;
        list-style: none;
        text-transform: none;

        &.mobile-menu {
            display: block;
            margin: 0;
            padding-bottom: .5rem;

            li.iteration {
                //margin-bottom: .5rem;
            }

        }

        li {
            margin: 8px 0;
            padding: 0;
            line-height: 1;

            a {
                font-family: 'PT Sans', sans-serif;
                display: block;
                margin: 0;
                padding: .35rem .75rem;
                font-size: 20px;
                color: white;
                border-radius: $border-radius;

                &:hover {
                    background: $gnbBlue;
                }

                &.active {
                    background: $gnbBlue;
                }

                @include breakpoint-lg {
                    color: $gnbBlue;
                }

            }

            .arrow-wrap {
                min-width: 3.4rem;

                .arrow {
                    display: inline-block;
                    font-weight: 400;
                    line-height: 1.4;

                    &:after {
                        font-family: 'FontAwesome';
                        content: "\f078";
                    }

                    &.open {
                        &:after {
                            font-family: 'FontAwesome';
                            content: '\f077';
                        }
                    }

                }

            }

            &:empty {
                height: 1rem;
            }

        }

    }

}