html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c2d50;
  background: -moz-linear-gradient(top, #2c2d50 8%, #ffffff 66%);
  background: -webkit-linear-gradient(top, #2c2d50 8%,#ffffff 66%);
  background: linear-gradient(to bottom, #2c2d50 8%,#ffffff 66%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d50', endColorstr='#ffffff',GradientType=0 );
}

*,
*:after,
*:before {
  min-height: 0;
  min-width: 0;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: $gnbLighterBlue;
  color: $gnbWhite;
}

figure {
  margin: 0;

  figcaption {
    font-size: 15px;
    color: $gnbBlack;
    background: #e4eff8;
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;

    span {
      display: block;
    }
  }
}

img {
  max-width: 100%;
  position: relative;
  image-rendering: -webkit-optimize-contrast;
}

.hidden-sm {
  @include breakpoint-sm {
    display: none;
  }
}

.hidden-md {
  @include breakpoint-md {
    display: none;
  }
}

.hidden-lg {
  @include breakpoint-lg {
    display: none;
  }
}

.container {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0 #666;
  background: #fbfbfb;
  background: -moz-linear-gradient(-45deg, #fbfbfb 1%, #f2f2f2 100%);
  background: -webkit-linear-gradient(-45deg, #fbfbfb 1%,#f2f2f2 100%);
  background: linear-gradient(135deg, #fbfbfb 1%,#f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=1 );
  @include breakpoint-lg {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .content {
    padding: 62px 50px;

    @include breakpoint-sm {
      padding: 25px 15px;
    }

    @include breakpoint-md {
      padding: 50px 15px;
    }

    div {
      &.seiten {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;

        .element-wrap {
          font-size: 18px;
          h3 {
            color: #666666;
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 15px;
          }
        }
      }

        .inline-video-wrap {
          position: relative;
          padding-bottom: 56.25%;

          .inline-video {
            position: absolute;
            width: 100%;
            height: 100%;
          }
      }
    }

    .row {
      margin: 0;

      &.mobile-picture-first  {
        @include breakpoint-sm {
          flex-direction: column-reverse;

          .picture {
            margin-bottom: 1.5rem;
          }
        }
      }

      .home_pictures {
        padding: 0;
        margin-bottom: 45px;
        margin-top: -20px;
        @include breakpoint-sm-md {
          margin-bottom: 15px;
          margin-top: 0;
        }

        .col-sm-6 {
          position: relative;
          &:first-of-type {
            padding-left: 0;
            padding-right: 1rem;
            .count {
              @include breakpoint-lg {
              bottom: 12px;
              right: 18px;
              }
            }
          }
          &:last-of-type {
            padding-right: 0;
            padding-left: 1rem;
          }

          img {
            border-radius: 8px;
          }

          .count {
            position: absolute;
            background: white;
            color: $gnbOrange;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 600;
            padding: 8px 10px 5px;;
            bottom: 8px;
            right: 10px;
            z-index: 3;
            @include breakpoint-sm-md {
              font-size: 14px;
              padding: 5px 10px 3px;
              bottom: 5px;
              right: 7px;
            }
          }

          figure {
            .arrows {
              display: none;
            }
            .carousel {
              .carousel-inner {
                img {
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.picture {
  margin-top: 30px;
  @include breakpoint-sm {
    margin-top: 0px;
  }

  img {
    border-radius: 8px;
    cursor: auto;
  }

  &.no-margin-top {
    margin-top: 0;
  }

  &.box {

    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      object-fit: cover;
    }

    .social-media {
      box-shadow: 0 0 0.25rem rgba(51,51,51,.25);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-top: -3px;
      padding: 7px 7px 4px 7px;

        img {
          height: auto;
        }
    }
  }
}

form {
  .row {
    margin-top: 25px;
  .col-sm-12 {
    padding: 0;
    input, textarea {
      width: 100%;
      padding: 9px;
      font-size: 18px;
      font-family: Vollkorn,sans-serif;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid #c6c6c6;
    }
    button {
      float: right;
      font-size: 18px;
      border-radius: 8px;
      padding: 6px 48px;
      font-weight: 700;
      color: white;
      background: linear-gradient(to bottom,#a5a5b5 0,#39395d 100%);
    }
  }
  }
}

.content {
.row {
.home_pictures {
  .col-sm-6 {
  .gallery-wrap {
    @include breakpoint-sm-md {
      padding-bottom: 62%;
      border-radius: 8px;
      figure {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
        .carousel {
          .carousel-inner {
            img {
              height: 30vw;
            }
          }
        }
        img {
          height: 28vw;
          object-fit: cover;
        }
      }
    }
    }
    }
  }
  }
}

.gallery {
  .gallery-wrap {
    @include breakpoint-sm-md {
      padding-bottom: 75%;
      figure {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 8px;
        img {
          height: 75vw;
        }
      }
    }
  }
}

.gallery-wrap {
  margin-bottom: 1rem;
  position: relative;


  figure {
    margin: 0;
    position: relative;

    .arrows {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      color: $gnbWhite;
      text-shadow: 0 0 .25rem rgba($gnbBlack, .75);

      .arrow-left {
        align-self: center;

        i {
          position: relative;
          z-index: 5;
        }

      }

      .arrow-right {
        align-self: center;
        text-align: right;

        i {
          position: relative;
          z-index: 5;
        }
      }
    }

    .carousel {
      background: $gnbGrey;
      z-index: 2;

      @include breakpoint-lg {
        max-height: 500px;
        overflow: hidden;
      }

      .carousel-inner {
        display: none;
        justify-content: center;
        align-items: flex-start;

        &:first-of-type {
          display: flex;
        }

          img {
            object-fit: cover;

            @include breakpoint-lg {
            display: inline;
            width: 100%;
            height: 500px;
          }
            border-radius: 8px;
        }
      }
    }

    .count {
      position: absolute;
      background: white;
      color: $gnbOrange;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 600;
      padding: 8px 10px 5px;
      bottom: 8px;
      right: 10px;
      z-index: 3;
    }

    .icon {
      position: absolute;
      bottom: .5rem;
      left: .25rem;
      z-index: 2;
      color: $gnbWhite;
      line-height: 1;
      font-size: 19px;
      text-shadow: 0 0 .1rem $gnbBlack;
      transition: $transition;
      cursor: pointer;
    }

    &:hover {
      cursor: pointer;

      .icon {
        font-size: 1.5rem;
        transition: $transition;
      }
    }
  }
}

.back-to-top {
  display: none;
  font-weight: 400;
  background: rgba(57, 57, 93, 0.7);
  color: white;
  position: fixed;
  right: 45%;
  line-height: 30px;
  bottom: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
  font-size: 12px;
  height: 30px !important;
  width: auto !important;
  z-index: 10 !important;
  border: 0 !important;
  border-radius: 8px 8px 0 0 !important;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
  box-sizing: border-box !important;
  padding: 0 10px !important;
  transition: all .4s,bottom .8s ease-in-out !important;
  cursor: pointer !important;
  outline: none !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  animation-name: loadBubble;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;

  @include breakpoint-sm {
    left: 0;
    right: inherit;
  }

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }

  i {
    margin-right: 3px;
  }
}

.show_more {
  display: inline-block;
  position: relative;
  width: 100%;
  .btn-clear-blue {
    text-shadow: none;
    padding: 0 .5rem;
    border: none;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 8px;
    float: right;
    background: $gnbBlue;
    color: white;
    position: absolute;
    right: 0;
  }
}
