footer {
  margin-top: 40px;
  .row {
    display: flex;
    justify-content: space-between;

    div {
      &.items {
        max-width: 120px;
        @include breakpoint-sm {
          max-width: 60%!important;
          width: 60%;
          padding: 14px 2px;
        }
      }
    }
    .items {
      max-height: 110px;
      padding: 12px;
      background: #ededed;
      background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
      background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 100%);
      background: linear-gradient(to bottom, #ededed 0%,#ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
      border-radius: 8px;
      @include breakpoint-sm {
        width: 50%;
        margin-bottom: 30px;
        &:first-of-type {
          max-width: 155px;
        }
        max-width: 200px;
      }

      &.social {
        width: 68px;

        @include breakpoint-sm {
          max-width: 38%!important;
          width: 38%;
          padding: 0 25px;
          height: 40px;
        }

        img {
          max-width: 44px;
          @include breakpoint-sm {
            max-width: 35px;
          }
        }
      }

      img {
        max-width: 180px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint-sm {
          max-width: 100%;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .footer-links {
        font-family: 'PT Sans', sans-serif;
        height: 100%;
        @include breakpoint-sm {
          // text-align: center;
        }
          .row {
            height: 100%;
            .col-sm {
              display: flex;
             //  align-items: center;
              @include breakpoint-sm {
                justify-content: center;
                padding: 0;
                a {
                  font-size: 12px;
                }
              }
              @include breakpoint-lg {
                flex-basis: 100%;
                max-width: 100%;
              }
              @include breakpoint-md {
                flex-basis: 100%;
                max-width: 100%;
              }
            }
          }
      }
    }
  }
}