header {
    .header-image {
    }
    .row {
        align-items: center;
        justify-content: center;
        margin-top: -4px;
        .navi-link {
            font-family: 'PT Sans', sans-serif;
            padding: 10px 8px 12px;
            background: #fffefe;
            background: -moz-linear-gradient(top, #a5a5b5 0%, #39395d 100%);
            background: -webkit-linear-gradient(top, #a5a5b5 0%,#39395d 100%);
            background: linear-gradient(to bottom, #a5a5b5 0%,#39395d 100%);
            color: white;
            font-size: 14px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-right: 6px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}