@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
    font-size: $base-size;
}

body {
    font-family: $font-family;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $line-height;
    color: $gnbBlack;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}

a,
a:visited,
a:focus {
    color: #005a9a;
    text-decoration: none;

    &.link-black {
        color: $gnbBlack;
    }

}

a:hover,
a:active {
    color: $gnbDarkBlue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5rem 0;
}

h1 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;

    &.title {
        margin-bottom: 0;
        padding: 1.5rem .5rem 0 .5rem;
        font-size: 26px;
        font-weight: 400;
        color: $gnbWhite;
        text-transform: uppercase;
        background: $gnbBlue;

        @include breakpoint-sm {
            margin: -.5rem -.5rem 1rem -.5rem;
            padding: 1.5rem 1rem 0 1rem;
            font-size: 19px;
        }

    }
    &.auswaertstitle{
        margin-bottom: 0;
        padding: 1rem .5rem 1.1rem .5rem;
        font-size: 26px;
        font-weight: 400;
        color: $gnbWhite;
        text-transform: uppercase;
        background: $gnbBlue;
        @include breakpoint-sm {
            margin: -.5rem -.5rem 1rem -.5rem;
            padding: 1rem 1rem 1.1rem 1rem;
            font-size: 19px;
        }
    }

}

h2 {
    font-size: 20px;
    font-weight: 700;

    &.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: $gnbBlue;
        text-transform: uppercase;

        &-small {
            @extend h2.subtitle;
            font-size: 1.2rem;
        }

    }

}

h3 {
    font-size: 19px;
    font-weight: 700;
}

h4 {
    font-size: 17px;
    font-weight: 400;
}

h5 {
    font-size: 15px;
    font-weight: 400;
}

h6 {
    font-size: 13px;
    font-weight: 400;
}

.subtitle {
    display: block;
    font-size: 19px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #666666;

    @include breakpoint-sm {
        margin-top: 23px;
    }

    &-big {
        @extend .subtitle;
        font-size: 23px;
        line-height: 1.2;

        @include breakpoint-sm {
            margin-top: 1rem;
        }

    }

    &-small {
        @extend .subtitle;
        font-size: 18px;
    }

    &-smaller {
        @extend .subtitle;
        font-size: 12px;
        margin-top: 1rem;
    }

}

.small,
small {
    font-size: 13px;
}

p, td {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

.nowrap {
    white-space: nowrap;
}

address {
    font-weight: 400;
    font-style: normal;
}

.text {

    //padding-top: 25px;
    //@include breakpoint-sm {
    //    padding-top: 10px;
    //}

    &.col-lg-8 {
        @include breakpoint-lg {
            padding-right: 30px;
        }
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }
}

ul,
ol {
    padding-left: 1.25rem;

    li {
        margin-bottom: .25rem;
        line-height: 1.5rem;

        p:last-child {
            margin: 0;
        }

    }

    &.no-bullets {
        list-style: none;
        padding-left: 0;
    }

    &.arrows,
    &.checkmarks {
        list-style: none;
        margin-bottom: .5rem;
        padding-left: 0;

        li:before {
            padding-left: .5rem;
            padding-right: .625rem;
            font-family: 'FontAwesome';
            font-size: 13px;
            color: $gnbDarkerBlue;
        }

    }

    &.arrows li:before {
        content: "\f061";
    }

    &.checkmarks li:before {
        content: "\f00c";
    }

}